[2022-01-06 20:54] TaiAurori opened #1 "Better project name?"
This is the first frontend I've ever seen for TikTok so far (great job on it), and having a more recognizable name would help for visibility.

[2022-01-06 22:37] pablouser1 commented on #1
Yeah, you're right. The current name is really generic. I've been developing the program without thinking much about it. But it would still be really nice having a good name. I don't have any name in mind though, so any suggestions are welcome.

[2022-01-11 17:17] ltGuillaume commented on #1
So toktok is a delivery app, too bad.

proxtok? tikprox?

[2022-01-11 17:57] ltGuillaume opened #2 "How to handle https://vm.tiktok.com/*/ URLs?"
I'm not exactly "versed" in TikTok stuff on the web, I've never even been on a TikTok website/app, but I often get some URLs sent in a format like https://vm.tiktok.com/ZMRtL2yVX/

(How) can I use these in the front-end? Filling in ZMRtL2yVX as video ID just shows a blank page with nothing in the browser console, so I guess it needs to be processed in another way?

[2022-01-11 18:13] pablouser1 commented on #2
Hello, that is a url given by TikTok on Android/iOS and does not follow the same structure as the webapp version. This is not supported _yet_. The wrapper I currently use to make all the requests to TikTok doesn't have this situation in mind, but I'm working on a quick patch to support it.

[2022-01-11 18:17] ltGuillaume commented on #2
Thanks, looking forward to it! I've browsed around a bit using a few tags and it's really nice 😃

[2022-01-11 18:25] mendel5 commented on #1
How about ProxiTok?

[2022-01-11 18:27] ltGuillaume opened #3 "Don't use Google Fonts"
Using Google fonts with this kind of projects kind of defeats the purpose imho.

You can easily prevent connections to Google by including the fonts with the project itself. You can find webfonts on e.g. http://www.fontsquirrel.com or download from Google Fonts via https://google-webfonts-helper.herokuapp.com/fonts (although with the latter, I think you'd have to have a look at the license to see

[2022-01-11 18:31] pablouser1 commented on #2
Already deployed, thanks for pointing out the issue!

[2022-01-11 18:31] #2 closed

[2022-01-11 18:39] pablouser1 commented on #3
Hi, it looks like those fonts were imported by my CSS Framework, I didn't even noticed it until now 😂.
Fortunately it can be disabled using a SCSS variable (maybe I'll add a font without Google in the future).
I'll push a new build without Google Fonts, thanks for the help!

[2022-01-11 18:39] #3 closed

[2022-01-12 18:09] ltGuillaume commented on #2
Thanks, it's working great!

[2022-01-14 13:25] AnonWombat opened #4 "Offline for maintenance"
First of all, thank you for making this!!
I've been looking for a private way to watch TikToks that friends and family send me, and now it's finally here. Combine it with a link redirector extension and bam, never have to connect to TikTok's servers. Thank you!

Although, I did check this morning and found that the site says its under maintenance:
![Screenshot_20220114-082340_Firefox Nightly](http

[2022-01-14 16:15] pablouser1 commented on #4
Hi, right now almost all requests the server makes to TikTok are returning an HTTP 401 code, (Unauthorized). I'm investigating the issue. When I figure it out I'll disable maintenance mode.

[2022-01-14 17:04] pablouser1 commented on #4
Fixed! Please check the website again, it should work.

[2022-01-14 17:09] pablouser1 commented on #1
Really liked it, I'm probably changing the name to the project to this

[2022-01-14 18:57] AnonWombat commented on #4
It looks like it's down again
![Screenshot_20220114-135735_Firefox Nightly](https://user-images.githubusercontent.com/44946401/149570211-2b955898-437b-465d-8089-1d0c858f6db7.png)

[2022-01-19 23:02] AnonWombat opened #5 "Error code 504"
Hey there :)

![Screenshot_20220119-180201_Firefox Nightly](https://user-images.githubusercontent.com/44946401/150232367-20599f5b-6921-4450-886d-2463d472f9e8.png)

I'm getting this warning when I try to view a video.

[2022-01-21 10:11] #1 closed

[2022-01-22 19:40] pablouser1 commented on #5
Hi, it's already fixed, there was an issue with the curl wrapper for php I was using, I ended uninstalling it and reverting to the old method I was using.

[2022-01-25 16:44] #5 closed

[2022-01-27 07:10] rozbb opened #6 "Feature Request: RSS"
Thank you for making this frontend! One thing that would be nice is offering an RSS feed for user pages. That way I can follow creators in a centralized way that syncs with all my devices

For reference, this is already done in Invidious ([example](https://invidious.snopyta.org/feed/channel/UC9RM-iSvTu1uPJb8X5yp3EQ), [source](https://github.com/iv-org/invidious/blob/326a362eb892b1e6a60413b701a61e3

[2022-01-28 14:59] pablouser1 commented on #6
Thanks for the suggestion! I've added RSS with this commit: bd1642957c9f0ccca238f04a8c98dbd6d7cbce9b
For fetching a RSS feed you have to append /rss to the url (Example: if you want to get a feed of the user "example" you would have to use this url: https://proxitok.herokuapp.com/@example/rss)
It supports users, tags, and trending.

[2022-01-28 18:38] rozbb commented on #6
Amazing, and so fast too! I left 1 comment on the commit, noting that the RSS links should be HTTPS, but otherwise this is great.

[2022-02-02 18:11] #6 closed

[2022-02-04 17:39] zilpe opened #7 "Page buttons don't work"
Hello. The page buttons on your site currently do not work at all:
eg. [https://proxitok.herokuapp.com/@tiktok](https://proxitok.herokuapp.com/@tiktok)

When clicking the next/back buttons, the URL changes but the post contents does not.

Thanks!

[2022-02-07 08:22] Alexowo opened #8 "Feature Request: Add Username and video ID in metadata?"
At the moment when you download a video through this site it downloads as "tiktok-video.mp4" — I personally feel like it'd be better if the username or the video ID was added to the file name or metadata, maybe the date in metadata as well?

The fact that the watermark downloads is nice though, maybe that could be turned off somehow? Since websites like https://ssstik.io/ download without a waterm

[2022-02-07 16:48] austinhuang0131 opened #9 "Cannot load video pages"
eg. https://proxitok.herokuapp.com/video/6763645638203772165

Videos work fine on trending or on user pages, just not standalone (error 500).

[2022-02-07 17:43] pablouser1 commented on #9
Thanks for reporting the issue! It has been fixed with this commit: dd5964cb97d9398c5d241a19c909e088056ae0e9

[2022-02-07 22:46] pablouser1 commented on #8
Nevermind, it's now working without having to use any external service

[2022-02-11 20:02] austinhuang0131 commented on #7
Can't seem to reproduce it, maybe you need to enable JavaScript?

[2022-02-11 20:08] zilpe commented on #7
Commit 19553f88379ae8b86c90692e8e382870c47bbdcd fixed the issue. Thanks!

[2022-02-11 20:08] #7 closed

[2022-02-13 15:30] #8 closed

[2022-02-14 00:48] BrodieRobertson opened #11 "Using VideoID causes 403 error"
Upon searching for a videoID or going directly to a video page, I am presented with this.

![2022-02-14_11-16](https://user-images.githubusercontent.com/30792656/153783067-151d53ad-8ea3-49fd-8adc-6a74e45c4cd3.png)

Going to a creators page and watching the same video works just fine.

[2022-02-14 09:40] pablouser1 commented on #11
Hello, this looks exclusive to Heroku, I can't replicate it locally. I'm investigating this issue.

I have also reverted the official instance to an older version that does work.

[2022-02-15 22:17] airikr-e opened #12 "Pages has no videos on them after clicking "Next""
If you go to a tag, for an example (funnyvideos)[https://proxitok.herokuapp.com/tag/funnyvideos], you'll see videos. But if you hit the "Next" button, the next page will not have any videos at all and the "Next" button are inactive yet clickable (just reloads the page). (This link)[https://proxitok.herokuapp.com/tag/funnyvideos?cursor=5854611] shows this.

If you're on the trending page, you can g

[2022-02-21 08:53] pablouser1 commented on #12
This is an issue with the old Wrapper. It will be fixed with the new Wrapper being developed  on the new-api branch.

[2022-02-27 21:20] Jenni32222 opened #13 "Docker installation"
Would it be possible to create this project in a Docker container?

[2022-03-05 20:35] EsmailELBoBDev2 commented on #13
I want docker compose

[2022-03-06 12:25] korewatori opened #15 "Option to download all videos?"
This probably isn't feasible, but how easy would it be to implement a way of downloading all videos on a page at once? Would help with archiving too

[2022-03-07 09:42] francescospelta opened #16 "Add volume slider"
It would be great if you add a volume slider when watching videos

[2022-03-07 21:27] TheFrenchGhosty commented on #13
I'm working on it: https://github.com/PussTheCat-org/docker-proxitok-quay

[2022-03-08 07:25] EsmailELBoBDev2 commented on #13
Cool, Will you push it here in official repo or will just stay as a fork?

[2022-03-08 11:47] Cade66 opened #17 "Redirect with Redirector as well"
ProxiTok works nicely, thanks.

README.md states "_If you want to automatically redirect Tiktok links to ProxiTok, download Libredirect_"
**_Libredirect_** is a great extension but you may as well redirect Tiktok links to ProxiTok with the **_Redirector_** extension (Firefox, not sure for other browsers) :

[code]
Whatever redirect tool, ProxiTok is top :=)

[2022-03-11 15:12] pablouser1 commented on #17
Added with 1eb66261531a2d7977238684937824716cfa74c8

[2022-03-11 15:21] pablouser1 commented on #15
It is technically possible, but TikTok would probably rate limit the ip making the requests, depending on the amount of videos downloaded of course. I will still try to implement this with the new wrapper being developed on the new-api branch

[2022-03-13 17:46] #17 closed

[2022-03-13 23:35] torresjrjr opened #19 "Support full TikTok URL paths"
Currently, a full proper TikTok link looks like this:

  https://www.tiktok.com/@papidog01/video/7025547126109261061

However, ProxiTok provides a view for only this URL pattern:

  https://proxitok.herokuapp.com/video/7025547126109261061

One can't simply substitute the domain part. It is required that one tediously removes the <@username> section of the URL. Of course, a browser plugin like LibR

[2022-03-14 10:55] pablouser1 commented on #19
Fixed with 6eee156541a0b127caaeff293ea3c50cb043f88d. Now Proxitok allows both /video/ID and /@USERNAME/video/ID

[2022-03-15 05:27] semicolonsnet opened #20 "Videos don't load in Safari in either iOS or macOS"
For all videos, I get the video not available symbol and an error when attempting to play. Error shown in Web inspector:

Unhandled Promise Rejection: NotSupportedError: The operation is not supported.

[2022-03-15 09:25] MoriTanosuke commented on #13
Here is a `Dockerfile` that works at least for displaying Trending and watching content from users:

[code]

I do keep getting a lot of API errors, but I'm not sure that it is because of the installation or a general issue with TikToks API requests.

[2022-03-15 15:35] EsmailELBoBDev2 commented on #13
done. https://proxitok.esmailelbob.xyz/

[2022-03-15 16:36] pablouser1 commented on #13
Hi, that is because you are trying to run Proxitok in standard mode without a remote or local signer.
Quick explanation: Now Proxitok can use the new api from TikTok to fetch data, which requires signing URLs. This at the moment can only be done with a remote signer or a local chromedriver instance.
A quick workaround would be setting the API_FORCE_LEGACY enviromental variable to 1. This will forc

[2022-03-15 17:31] EsmailELBoBDev2 commented on #13
Oh! Well good news that https://github.com/pablouser1/ProxiTok/issues/13#issuecomment-1067748033 works as intended

Bad news on other hand I noticed legacy already ticked on by default but I think I need to re-apply it in settings which is kinda a bug? (*I left my instance running for testing*) and where is the config file? I'm inside my docker container but I'm a big confused...Which one of these

[2022-03-15 18:12] TheFrenchGhosty commented on #13
Thanks to @MoriTanosuke

My image now works: https://quay.io/repository/pussthecatorg/proxitok / https://github.com/PussTheCat-org/docker-proxitok-quay

It's not perfect since it's still using the php development server, but I couldn't make it work with a proper apache (403 eror), right now, I'd say it's "good enough", but it's FAR from perfect.

Also, `API_FORCE_LEGACY` is used, which isn't ideal

[2022-03-15 19:51] #19 closed

[2022-03-15 21:55] pablouser1 commented on #13
Docker now working with this commit: f0765e266c4e4328652570f8e4390f43f79bf5e6
It works both in standard and legacy mode using PHP8 and Apache (maybe I'll change it to Nginx in the future)
To use it just clone the repo and run
[code]
Now you can visit the website on http://localhost:8080

[2022-03-15 22:25] TheFrenchGhosty commented on #13
@pablouser1 I mean...not that I'm against it... but you know, if you reuse my files (you literally have the same style, and whole blocks that are copied from them)... you have to respect the license...

I mean, I would have been okay in giving you permission to re-license them... but you should have asked first.

[2022-03-15 22:32] Jenni32222 commented on #13
@TheFrenchGhosty Thanks for your work, I'll use your image if you plan on updating it.

[2022-03-15 22:32] #13 closed

[2022-03-15 22:32] TheFrenchGhosty commented on #13
@Jenni32222 I'm currently doing it, should be ready in ~5 minutes if everything goes right.

[2022-03-15 22:41] pablouser1 commented on #13
Sorry about that. I didn't even noticed that you were using a license. Should I credit you on the beginning of the file, the README.md or something?

[2022-03-15 22:49] TheFrenchGhosty commented on #13
@Jenni32222 Done. Image is production ready now. (it took longer than I thought because the [PHP docker-specific functions aren't good enough to install redis (but good enough for zip)](https://github.com/PussTheCat-org/docker-proxitok-quay/commit/e546e41229f7178d71c9ec57a4abdb54098aadec) and because [I did a stupid mistake](https://github.com/PussTheCat-org/docker-proxitok-quay/commit/10b3d76d2ee

[2022-03-16 00:04] TheFrenchGhosty opened #21 "Trending doesn't work if the "Legacy mode" isn't set"
If the "Legacy mode" setting to "Off" (and a cookie is saved), the trending won't work, and will just show an error page:

This settings should ideally be set instance-wide, with an environment variable.

[code]

[2022-03-16 00:18] pablouser1 commented on #21
I'm also having this issue locally. I think TikTok is flagging the request as automated. It's also not returning the usual VERIFY_CODE error so that's why PHP crashes. I'm investigating the issue

[2022-03-18 13:58] pablouser1 commented on #12
The new Api Wrapper is already finished and it fixes this issue, although the official instance still uses the legacy api because TikTok blocks the IP from the server that is hosting it. You can use another public instance or host your own instance.

[2022-03-20 13:03] KanadeTachibana2 opened #22 "Feature request: copy video URLs with JS disabled?"
hello, I'm aware that making the frontend compatible with JS disabled is in the TODO list.

but, in the meantime, would it be feasible to allow us to copy the TikTok video URLs with JS disabled? so we can play them in an external video player (with yt-dlp).

also, right now, those URLs are missing the `www.` prefix, which prevents them from being played with yt-dlp. (you have to manually add the `

[2022-03-23 09:01] #12 closed

[2022-03-23 09:11] pablouser1 commented on #11
Looks like this has already been fixed. At least I haven't had any issues with this anymore. I'll close this issue, if this still happens please reopen this issue or create a new one.

[2022-03-23 09:11] #11 closed

[2022-03-28 15:27] ryb commented on #20
I think this is because the server isn't setting the right content type in the headers.

[2022-03-28 16:12] pablouser1 commented on #20
Thanks for pointing it out. It has been patch with this commit: 9a35c6102346f15f57400e05e5aca5275afd2756
Now all videos return 'video/mp4'
Hopefully this fixes the issue

[2022-03-29 17:52] pablouser1 commented on #22
Hello, this was fixed with this commit: 44ee065ec6f224326d490a3a8ef2eb9b32ce23b8
Now the whole website works without JS.

[2022-03-30 07:56] KanadeTachibana2 commented on #22
that's sick! thank you so much!

[2022-03-30 08:33] #22 closed

[2022-03-31 00:55] PrincessMiki opened #23 "Search button isn't working?"
Searching for both users and tags aren't working

[2022-03-31 17:08] soujdfig commented on #20
Videos won't play on my instance. Everything else seems to work.

[2022-04-09 18:14] GodSaveTheDoge opened #25 "403 on user page"
The user page shows 403 instead of _something_

Example: https://proxitok.herokuapp.com/@roro.cat

[2022-04-09 18:17] GodSaveTheDoge commented on #25
Unrelated but the redirector pattern looks wrong (?).

https://vm.tiktok.com/ZMLja28XQ/ gets redirected to https://proxitok.herokuapp.com/ZMLja28XQ/ which is a 404.
It should be https://proxitok.herokuapp.com/@placeholder/video/ZMLja28XQ instead.

[2022-04-10 10:56] pablouser1 commented on #25
That is because the official instance is being rate limited by TikTok. The only "fix" to this is using another ProxiTok instance or waiting some hours. I also added a robots.txt to the project, almost all of the requests made to the instance were just bots.

Probably because `Include pattern: (.*//.*)(tiktok.com)(.*)` redirects _all_ subdomains to proxitok.herokuapp.com, changing it to _only_ www

[2022-04-10 10:58] pablouser1 commented on #23
Not working exactly how? You get a 403 error or a VERIFY_CODE? Maybe has something to do with #25?

[2022-04-11 14:26] GodSaveTheDoge commented on #25
I see. Multiple patterns might be needed then

[2022-04-12 13:12] TheFrenchGhosty opened #26 "Undefined constant TikScraper\Common::DEFAULT_USERAGENT"
Follow up to https://github.com/PussTheCat-org/docker-proxitok-quay/issues/3

Every single page trigger this error, making ProxiTok completely unusable.

This seem to be related to a recent change to the docker image `zenika/alpine-chrome`.

`
Fatal error: Uncaught Error: Undefined constant TikScraper\Common::DEFAULT_USERAGENT in /var/www/html/vendor/pablouser1/tikscraper/src/Helpers/Signer.php:58

[2022-04-12 13:33] pablouser1 commented on #26
Fixed with 2c68b34d063fd6d9be4340e008b8ae8c1ab98923

[2022-04-12 13:49] TheFrenchGhosty commented on #26
@pablouser1 It doesn't error out instantly now, but trending/discover hangs until it shows this error, profiles load SLOWLY:

`
Fatal error: Uncaught Facebook\WebDriver\Exception\WebDriverCurlException: Curl error thrown for http POST to /session with params: {"capabilities":{"firstMatch":[{"browserName":"chrome","goog:chromeOptions":{"excludeSwitches":["enable-automation"],"useAutomationExtension

[2022-04-12 13:57] TheFrenchGhosty opened #27 "Add proxitok.pussthecat.org"
Edits are closed on https://github.com/pablouser1/ProxiTok/wiki/Public-instances

Can you please add:

[code]

[2022-04-12 14:03] pablouser1 commented on #27
Added, thanks for hosting the instance!

[2022-04-12 14:03] #27 closed

[2022-04-17 21:35] pablouser1 commented on #21
Ok, it is now "fixed". For now if you use Standard mode it will return a "No items sent by TikTok!" message (which I guess is way better than just crashing) and if you use Legacy mode you get a normal response.
@TheFrenchGhosty I ran your docker image and I got those results.

I'll try to get Standard mode to return a normal response

[2022-04-17 21:44] pablouser1 commented on #26
That looks like a timeout error, PHP isn't receiving anything from the chromedriver server

Maybe has something to do with #21, TikTok returned a structure that was not expected and it crashed, maybe now it works?
I've been using your Docker image and I had good results

[2022-04-17 21:51] TheFrenchGhosty commented on #26
Yeah, I think I got this because ProxiTok started faster than the chromedriver.

I guess we can consider this issue solved.

[2022-04-17 21:56] pablouser1 commented on #26
Fixed with e545bd6ddd74696ccea16c49b899d215c6d755cd

[2022-04-17 21:57] #26 closed

[2022-04-20 20:12] desbest commented on #15
It's better to use a web browser extension to do so. Here's what I use.

- [Video Downloader Helper](https://www.downloadhelper.net/)
- [Bulk Media Downloader](https://add0n.com/media-tools.html)
- [HLS Downloader](https://mybrowseraddon.com/hls-downloader.html)
- [Video Downloader Prime](https://mybrowseraddon.com/download-helper.html)
- [Video and Audio Downloader](https://mybrowseraddon.com/vid

[2022-04-21 11:24] RiversideHollow commented on #15
A “profile downloading” option would be a very helpful idea. Even if it have to be on our own instances. So far no online service provides that. And would be really a great help for people with no PC.

Also, if it's possible to add a RSS for the whole profile. Or atleast a txt file, containing the video ids and info.

Thank you.

[2022-04-23 15:46] TheFrenchGhosty opened #28 "Typed property TikScraper\Models\Info::$detail must not be accessed before initialization"
All profile pages don't load (pick any https://proxitok.pussthecat.org/discover ):

`
Fatal error: Uncaught Error: Typed property TikScraper\Models\Info::$detail must not be accessed before initialization in /var/www/html/vendor/pablouser1/tikscraper/src/Api.php:70 Stack trace: #0 /var/www/html/app/Controllers/UserController.php(15): TikScraper\Api->getUserFeed('billieeilish', 0) #1 [internal func

[2022-04-23 18:02] pablouser1 commented on #28
Thanks for pointing out the issue!

Patched with 47a3dc7e763294eb5d17796d340bce0fec3a4abc
Right now it throws lots of warnings, but that will be also be fixed eventually.

[2022-04-23 18:33] TheFrenchGhosty commented on #28
... the warnings are displayed on the web interface (see my instance again), it's not good xD

[2022-04-24 06:10] pablouser1 commented on #28
Warnings are now hidden for that specific line

[2022-05-04 14:29] EsmailELBoBDev2 opened #29 "Fatal error: Uncaught Error: Typed property TikScraper\Models\Info::$detail must not be accessed before initialization in /var/www/html/vendor/pablouser1/tikscraper/src/Legacy.php:39 Stack trace: #0 /var/www/html/app/Controllers/UserController.php(13): TikScraper\Legacy->getUserFeed('roro.cat', 0) #1 [internal function]: App\Controllers\UserController::get('roro.cat') #2 /var/www/html/vendor/bramus/router/src/Bramus/Router/Router.php(476): forward_static_call_array(Array, Array) #3 /var/www/html/vendor/bramus/router/src/Bramus/Router/Router.php(440): Bramus\Router\Router->invoke('UserController@...', Array) #4 /var/www/html/vendor/bramus/router/src/Bramus/Router/Router.php(287): Bramus\Router\Router->handle(Array, true) #5 /var/www/html/index.php(14): Bramus\Router\Router->run() #6 {main} thrown in /var/www/html/vendor/pablouser1/tikscraper/src/Legacy.php on line 39"
Each time I try to visit URL I get ``` Fatal error: Uncaught Error: Typed property TikScraper\Models\Info::$detail must not be accessed before initialization in /var/www/html/vendor/pablouser1/tikscraper/src/Legacy.php:39 Stack trace: #0 /var/www/html/app/Controllers/UserController.php(13): TikScraper\Legacy->getUserFeed('roro.cat', 0) #1 [internal function]: App\Controllers\UserController::get('r

[2022-05-04 14:42] EsmailELBoBDev2 commented on #29
oh oh nvm I'm stupid

I forgot to rebuild docker image I thought I added docker image but it was build files my bad I'm sorry

[2022-05-09 15:19] djl0 opened #30 "Can ProxiTok open share links?"
I often receive links in the form of https://vm.tiktok.com/{share_id} which then re-directs to the usual @author/video_id. Does this app already resolve that redirect, and if not, I'd like to put it on the radar of the team. Thanks

[2022-05-11 02:10] asdkojsdjmkfmzk opened #31 "cant see multiple pages"
EXPLANATION: I search up a tag, user, or whatever, and then when I'm done browsing and get to the bottom and click the "next" button, it keeps saying "no more items sent by TikTok", yet it states there's more under the user/tag

https://user-images.githubusercontent.com/84987355/167754695-d222ede0-ac25-4bcc-8fd2-fc5e9ff58295.mp4

![Screenshot 2022-05-10 19 07 22](https://user-images.githubusercont

[2022-05-11 07:14] pablouser1 commented on #31
This is an issue with hashtags on instances running in Legacy mode.
(Maybe) sending both a minCursor and a maxCursor will solve the problem, I'll try to check if this solution works.
In the meantime, you can check [this](https://github.com/pablouser1/ProxiTok/wiki/Public-instances) wiki page for all public instances available. Make sure it does not force legacy mode.

[2022-05-11 07:16] pablouser1 commented on #30
Yes, you can take that share_id and type it on the Video Id form. The backend will do the redirection for you and load the video.

[2022-05-12 19:25] glottis0q opened #32 "Wrong rss feed times."
<img width="182" alt="Screenshot 2022-05-12 at 21 23 59" src="https://user-images.githubusercontent.com/93644977/168152728-bf2165a1-0c41-41e7-a9bc-f32ae1180e0f.png">

I added the rss feed from https://proxitok.herokuapp.com/@oscarstembridge/rss and the times are a little wrong xD

I like ProxiTok. Works great so far. The ability to add it via rss is amazing

[2022-05-12 19:27] glottis0q commented on #32
https://github.com/pablouser1/ProxiTok/commit/bd1642957c9f0ccca238f04a8c98dbd6d7cbce9b#diff-ae1982f93ea64e9ac9c22cf6ac3d300445de0b7d87d1555f42e497f001aec7cfR28 might be the line that needs some attention

[2022-05-14 17:18] andsofine opened #33 "f-droid"
any plans for f-droid?

[2022-05-18 09:46] pablouser1 commented on #32
Fixed with 9a662ffe1b9f8043ab113e6f28432b06f8bb9d40

[2022-05-18 10:17] pablouser1 commented on #31
TikTok requieres sending both a minCursor and a maxCursor for navigation purposes, but right now ProxiTok only sends a maxCursor. MinCursor is _always_ set to 0. Maybe that's why it doesn't work.

[2022-05-18 10:18] pablouser1 commented on #33
I don't have any plans for an f-droid release, this is a webapp so I don't find it necessary.

[2022-05-18 10:25] pabloscloud opened #34 "Wrong rss item urls"
It’s only the username instead of the whole url.

[2022-05-18 10:25] #32 closed

[2022-05-18 10:39] pablouser1 commented on #15
I'll close this issue. I'm not planning to implement a mass downloader, mainly because of the rate limit problem. You can still use any of the programs @desbest recommended or use [tiktok-scraper](https://github.com/drawrowfly/tiktok-scraper), which also works nicely.

[2022-05-18 10:39] #15 closed

[2022-05-18 10:40] #28 closed

[2022-05-19 22:57] andsofine commented on #33
it’s a pity, there are no alternatives in f-droid, so I thought it would be cool if something like that appeared

[2022-05-21 18:44] hnhx opened #35 "PHP compat issues"
It would be nice if ProxiTok could work with PHP 7, most LTS distros (like Debian) are still on PHP 7.
I will host ProxiTok once it can run on PHP 7.

[2022-05-22 11:10] pablouser1 commented on #35
Hi, thanks for pointing it out. It is now working for both PHP 7.4 and PHP 8.

[2022-05-24 12:31] TheFrenchGhosty opened #37 "Trending broken - TikScraper\Models\Feed::setNav(): Argument #3 ($maxCursor) must be of type string, null given,"
[code]

See: https://proxitok.pussthecat.org/trending

[2022-05-24 12:32] TheFrenchGhosty opened #38 "Optional parameter $config declared before required parameter $legacy"
`
Deprecated: Optional parameter $config declared before required parameter $legacy is implicitly treated as a required parameter in /var/www/html/vendor/pablouser1/tikscraper/src/Api.php on line 17
`
`
Deprecated: Optional parameter $legacy declared before required parameter $cache is implicitly treated as a required parameter in /var/www/html/vendor/pablouser1/tikscraper/src/Items/Trending.php o

[2022-05-24 12:33] TheFrenchGhosty commented on #38
@pablouser1 By the way: Can you please seriously test your code before pushing it? Every single time I updated things break.

[2022-05-24 14:09] pablouser1 commented on #38
Yeah, I should test stuff using Docker instead of my local installation... Anyways, I'm planning to add PHPUnit to the project to help with that.

[2022-05-24 14:11] #33 closed

[2022-05-24 14:11] #30 closed

[2022-05-24 14:22] Wonderwize commented on #23
All Japanese tags give search errors. For example:

proxitok.herokuapp.com/tag/名言
Gives an error with HTTP Code: 400

tiktok.com/tag/名言
Gives plenty of results.

[2022-05-24 14:53] TheFrenchGhosty commented on #37
Well, it works now, so maybe just a temporary bug.

[2022-05-24 14:55] TheFrenchGhosty commented on #38
Your local installation isn't necessarily running the same version of PHP that the docker image is using. Docker is made to be consistent across installation, so definitely use it to test.

[2022-05-24 15:14] #38 closed

[2022-05-24 15:29] TheFrenchGhosty opened #39 "Trending Broken - "No items sent by TikTok!""
If "Forcing Legacy mode" is set to no (the default on https://proxitok.pussthecat.org/ ), the trending page ( https://proxitok.pussthecat.org/trending ) will display "No items sent by TikTok!" even though profiles will load fine.

Setting it to "yes" will make the trending load.

[2022-05-25 07:20] cluelessdev404 opened #40 "Pages freeze when loading on iOS browsers"
Everything but the home page and settings page refuses to fully load.

iOS 15.5

[2022-05-30 11:49] pablouser1 commented on #20
@semicolonsnet it should work now, please check it with your device and close this issue if it works

[2022-05-30 13:41] #20 closed

[2022-05-31 19:13] #40 closed, assigned to nobody

[2022-05-31 20:40] PrivacyDevel opened #41 "Please add my instance https://proxitok.privacydev.net"
Instance: https://proxitok.privacydev.net
Forced Legacy Mode: yes
Country: USA
Cloudflare: no

[2022-05-31 20:52] #41 closed, assigned to nobody

[2022-06-02 08:23] jupjohn opened #42 "Requesting same video multiple times causes fatal error"
When accessing a video and reloading after initialization, the site fails with the following exception:

[code]

Using release 2.3.0.1 after a fresh install, observed on old instance as well.

[2022-06-02 09:20] pablouser1 commented on #42
Thanks for opening this issue! It is now fixed e1fbf7528181021f73a332f6631fc10c14d1dc31. I've tested it on the official instance and is now working

[2022-06-02 09:20] #42 closed, assigned to nobody

[2022-06-02 21:56] bugbounted opened #43 "docker container error non zero code on Dockerfile"
Hi [Pablo Ferreiro](https://github.com/pablouser1),
I'm trying to deploy your code on k8s container but return non zero code on dockerfile build , i think it's because dockerfile isn't standard for direct read from contaniers & it must start from docker-compose . please make changs on Dockerfile to work direct build correctly.
waiting for your commit/s.
finest regards

[2022-06-02 22:20] herokuhint opened #44 "all public instances on error at search by user"
Hi pablo,
all public instances on error at response from search by user (default fields on index page load) , please fix them
thanks

[2022-06-03 03:59] jammehcow commented on #42
Thanks!

[2022-06-03 14:26] TheFrenchGhosty opened #45 "Everything broke AGAIN"
Everything broke **AGAIN**.

@pablouser1 I asked you to test your code [here](https://github.com/pablouser1/ProxiTok/issues/38#issuecomment-1135862732), you told me that you would, you didn't, so things broke **AGAIN**.

**This is the last time I'm reporting a bug, next time I'm killing my instance**, I'm sick of babysitting it because every single commit break something. https://github.com/pablou

[2022-06-03 15:14] pablouser1 commented on #44
Most probably those instances were on legacy mode. As far as I'm aware, TikTok has definitely killed their /node (legacy) endpoints, now everyone of those endpoints return a 502 error. I'll wait some time to see if this is only temporary, but it looks like legacy is no longer usable.

[2022-06-03 17:46] stemy2 opened #46 "Errors HTTP 50x"
Hello,

I tried proxitok on the flagship instance and on mine, but all i have is a blank page. According the web inspector, this is an HTTP 500 error in both case. Only the main page and the discover page are working, and the trending page give me a HTTP 502 error.

[2022-06-03 18:03] pablouser1 commented on #46
Duplicated of #45

That's why the server returns a 500 error.

I'll close this issue, it will be continued there.

[2022-06-03 18:03] #46 closed

[2022-06-04 17:08] pablouser1 commented on #45
Hey @TheFrenchGhosty I've checked both your instance and my local docker deployment and it looks like it got somehow fixed, without doing anything?

What was happening (I think) was that TikTok asked for a captcha if you entered https://www.tiktok.com/@USERNAME_HERE without entering the main site (https://www.tiktok.com) first.

Maybe they thought it was too strict and stopped it? Or maybe it was

[2022-06-04 18:23] pablouser1 commented on #43
Hi, hopefully bdba336d3c5fee76206299e0a61c04c95edfd163 fixes this issue. I'm now able to build the ProxiTok image without using docker-compose. Remember that you need to send the enviromental variables necessary with the -e flag and create a volume for Latte cache.

[2022-06-04 18:31] #35 closed

[2022-06-04 19:13] pablouser1 commented on #44
This has now been fixed. Legacy mode has been removed and the official instance has been updated to standard mode. I'll close this issue.

[2022-06-04 19:13] #44 closed

[2022-06-04 19:15] pablouser1 commented on #31
This is now been (inderectly) fixed. Now that Legacy mode no longer works, all instances have to run on standard mode. In this mode this issue doesn't happen, so I'll close this now.

[2022-06-04 19:15] #31 closed

[2022-06-04 19:15] #16 closed

[2022-06-05 06:36] elmirarokni opened #48 "make app.json file for preset env value/s & buildpack/s for deploy on heroku"
Hi pablo,
please make app.json file in root of project for preset env value/s & buildpack/s requirement for deploy on heroku.
for more see here : https://devcenter.heroku.com/articles/app-json-schema
& also put markdown below on README.md file for easily deploy without using heroku cli:
`[![Deploy](https://www.herokucdn.com/deploy/button.svg)](https://heroku.com/deploy)`
[![Deploy](https://www.her

[2022-06-05 07:00] elmirarokni commented on #43
hello again pablo ,
your dockerfile is'nt standard to read directly from containers , please pick one standard docker build from hub.docker.com & put run & changes cmds after build from that standard docker.at this time , dockerfile can't build without non zero code , see my build log error in action :

workspace is ready.
--
2 | Step 1/8 : FROM php:8-apache
3 | ---> af944036d594
4 | Step 2/8 : WO

[2022-06-05 14:54] TheFrenchGhosty commented on #45
@pablouser1

Sorry, I assumed it was since every other time it was because of the latest commits... I was kinda angry because I'm really starting to get sick of babysitting a service I don't use *at all*, as I said in my Matrix room:

The most unstable software I run:
- Massive amount of resource required to run it (because it runs a full browser) though it's better now that he made a dedicated si

[2022-06-05 15:40] pablouser1 commented on #48
Hi, it has been added with 59029e48ad37fa5586667ade31005e5c0d6e3d13

I've done a test deployment and it works out of the box.

The Deploy button can be found on the Self-Hosting wiki article

[2022-06-05 15:40] #48 closed

[2022-06-05 16:02] pablouser1 commented on #45
Don't worry, that already happened multiple times so I understand that you thought those commits caused it.

Yeah, the chromedriver signing was _really_ painful, it was also the main reason I couldn't use standard mode on the official instance. I started using it because every TikTok Wrapper used this method. At least the new signer is (way) more resource friendly than a whole Chrome instance.

I

[2022-06-05 16:02] #23 closed

[2022-06-07 17:02] ghost opened #49 "Class 'DomDocument' not found"
Hello,

first thank for your work ! It will be very usefull for me. I had been looking for a way to access tiktok videos for a long time without having to load a lot of javascript.

# Configuration
I didn't install proxitok via docker
I have php `7.4` , chromedriver `102.0.5005.61` and redis-server installed

### env file
Here is my .env file

[code]

# Error
I can go the main page, discover, tren

[2022-06-07 19:09] #49 closed, assigned to nobody

[2022-06-09 10:43] kevincox opened #50 "RSS Auto-discovery"
It would be great to add an auto-discovery `<link>` tag to the pages so that browser extensions auto-discover feeds and users can just paste the URL into their feed readers to subscribe rather than trying to search for the link on the page. For example user profiles should have references to the feed for that profile.

[2022-06-10 07:18] Ivan0xFF opened #51 "Support /t URLs"
I've been getting some TikTok URLs with a /t that aren't being resolved by ProxiTok. Example: https://www.tiktok.com/t/ZTd3stsNq

Having this type of link be supported would be great!

[2022-06-12 06:30] pityalvarez opened #52 "Why date on posts are not shown?"
Maybe It's is technically difficult to add on so that's why it hasn't been added

[2022-06-12 11:35] pablouser1 commented on #51
Hi, it is now supported thanks to 26bde1e4a88ef5e5223d950905bd91f4891f472e

[2022-06-12 11:37] pablouser1 commented on #52
There really wasn't a reason, I just didn't noticed it wasn't there. It has been added with 3b0ed28ad9937796de21c500a52206c273467e7e

[2022-06-12 11:38] pablouser1 commented on #50
Hi, thanks for pointing this out, I didn't know this existed. It has been added with 9d37bc433d5308623fdb846913fc2c82e5218f43

[2022-06-12 11:40] kevincox commented on #50
Thanks!

[2022-06-12 11:44] #51 closed

[2022-06-12 12:11] #50 closed

[2022-06-12 17:20] kevincox commented on #50
It would also be nice to have the user's feed linked from the video page. That way it is easy to subscribe to a user when a video is playing.

[2022-06-13 14:30] ZevaXu opened #53 "docker-compose error:(SIGNATURE_CONNECTION_ERROR)"
Hello, I deployed with docker-compose, the web application is success to access but when go in to a url like `https://example.com/@xxx`, got a err below:
[code]
and I try set the `API_FORCE_LEGACY=1`, it still now work.

this is my docker-compose.yml:
[code]

[2022-06-16 14:52] #52 closed

[2022-06-16 15:00] pityalvarez opened #54 "Is there a way to save the previous adjusted volume setting?"
I don't remember if it relies on cookies. Or it just depends on my browser.
Tik tok videos tends to be really loud jeje

[2022-06-20 03:04] toyboatcash opened #55 "Add https://proxitok.herokuapp.com"

[2022-06-21 02:52] EsmailELBoBDev2 commented on #45
sad to say it but my instance is broken too, mostly 403 error code? (https://proxitok.esmailelbob.xyz/@wwe)

and here logs from docker compose:
[code]

[2022-06-21 02:58] EsmailELBoBDev2 commented on #45
oh nevermind it works now  :+1:

I did not notice that legacy mode is dead :cry:

[2022-06-28 18:55] pablouser1 commented on #34
Hi, maybe this was related to #56? Can you check if it is now working?

[2022-07-03 16:38] pablouser1 commented on #45
I _think_ I figured it out... The program was storing on cache an invalid request (-1 error code) which crashes when accessed later because all cache items _should_ only have valid requests. It should be fixed now, make sure to wipe your Redis cache and tell me if it goes OK.

BTW, all those crashes are related to rate limits. I'm not able to trigger them locally, so I'm just guessing what is wron

[2022-07-03 16:44] pablouser1 commented on #54
As far as I'm aware, that depends on your browser. It could be implemented using cookies but that's not on my priority list at the moment. Maybe I'll implement something like this in the future

[2022-07-03 16:51] pablouser1 commented on #34
That is controlled by the [APP_URL env variable](https://github.com/pablouser1/ProxiTok/wiki/Configuration#app_url=)

Maybe this has something to do with the Docker deployment method.
Right now Docker sets the default url to '/' which does work for HTML, but doesn't for those rss readers.

A workaround for this can be setting a custom env variable before using docker-compose, like:
[code]

If the

[2022-07-03 16:53] pablouser1 commented on #55
Hi, that is the official instance. It is already added on [this](https://github.com/pablouser1/ProxiTok/wiki/Public-instances) wiki page

[2022-07-03 16:53] #55 closed

[2022-07-03 16:54] pablouser1 commented on #25
I'm closing this issue for now... It looks like TikTok doesn't return a 403 anymore when the rate limit is triggered

[2022-07-03 16:54] #25 closed

[2022-07-03 16:58] pablouser1 commented on #53
hmmm... It looks like that the signing server is not responding to the requests made by the frontend. I'm not really sure why though, right now the official docker-compose works perfectly out of the box

Also, please note that Legacy mode is no longer supported, so you should remove the API_FORCE_LEGACY env variable.

[2022-07-03 18:25] TheFrenchGhosty commented on #45
@pablouser1 Problem is still here.

[2022-07-03 21:16] EsmailELBoBDev2 commented on #45
@TheFrenchGhosty works with me https://proxitok.esmailelbob.xyz/@wwe

[2022-07-05 20:26] igalic opened #57 "Normalize multiple slashes"
When accidentally leaving more than one slash in the Input:

https://proxitok.herokuapp.com/@placeholder/video//ZMNAERSpw

ProxiTok just returns a 404 instead of *normalizing* the URL.

[2022-07-05 20:29] igalic opened #58 "Suggestion: Input URL instead of ID"
related to #57 a usability improvement would be to just take a TikTok URL as Input
the parser could be triggered by checking if the string starts with https://

This is especially convenient when using the service from a phone where hopping around in a string and editing it quickly is ***hard***.

[2022-07-09 14:46] gabor-ig opened #59 "thumbnails in rss feed"
Hi, i sprang up an instance yesterday and so far I really like this. I saw that you added the videos to the rss feeds a short time ago. Could you also add thumbnails to the rss feeds? That would make user experience better when browsing them in a lot of RSS readers... I might take a crack at it myself but I figured for you it would go a lot easier and faster. Anyway it's just a suggestion. Thanks!

[2022-07-18 13:45] vdemay opened #60 "User posts are not retreived anymore"
Getting posts from user fails: e,g, https://proxitok.herokuapp.com/@willsmith
I suppose something change on tiktok side

[2022-07-21 03:18] bugbounted2022 opened #61 "self-hosted instance same API error code -1 (UNKNOWN_ERROR)"
Hi [pablouser1](https://github.com/pablouser1),
I'm clone proxitok latest commit [d0057e7](https://github.com/pablouser1/ProxiTok/commit/d0057e77e37953562c69cd8716d4755bcda13374) to my own ubuntu 22 server & runnig with docker compose . but after visit default port (8080) & search public tiktok user give error below :

There was an error processing your request!

HTTP Code: 200

API error code -1

[2022-07-23 09:02] shruuub opened #62 "New public instance: tok.habedieeh.re"
Hello,
thanks for the great software :)
Please add my instance https://tok.habedieeh.re to the list of public instances.

Instance: https://tok.habedieeh.re
Country: Canada
Cloudflare: no

[2022-07-23 12:19] gabor-ig commented on #61
I can confirm. Issue remains the same also after cycling through multiple IP addresses by connecting through a VPN

[2022-07-23 16:33] pablouser1 commented on #60
Hi, indeed something changed on their servers, I'm investigating it now. Maybe it has to do with the X-Bogus and msToken GET params? I'm working on a way to generate those tokens.

[2022-07-23 16:33] pablouser1 commented on #61
Duplicate of #60, We'll continue the debate there

[2022-07-23 16:33] #61 closed

[2022-07-23 16:36] pablouser1 commented on #62
Hi! Thanks for taking the time to host a public instance, it is now added to the public instances list.

[2022-07-23 16:36] #62 closed

[2022-07-23 16:41] pablouser1 commented on #57
Hi! As far as I'm aware that is handled by my [routing library](https://github.com/bramus/router) and I can't fix it. We could report a new issue to the library or change to another one that does normalize the url.

[2022-07-23 16:46] pablouser1 commented on #58
Hey, if I understand correctly, you're asking for a new input field that just takes a TikTok URL, then the server will redirect you to the correct user/tag/...

It looks like a good improvement, specially for phone users, I'll implement it.

[2022-07-23 16:48] pablouser1 commented on #34
The official instance already has the correct APP_URL env, so it should work.

You're right, I'll add a warning for Docker users on the wiki

[2022-08-01 19:00] igalic commented on #57
i think you might able to do normalization yourself, by implementing `getCurrentUri`: https://github.com/bramus/router/issues/86

[2022-08-02 22:24] eUgEntOptIc44 commented on #60
@pablouser1 would be very grateful for a short update on this as I still experience the error mentioned in #61.

[2022-08-04 12:04] #58 closed

[2022-08-04 12:47] pablouser1 commented on #60
The "main" fix being discussed right now is in https://github.com/davidteather/TikTok-Api/issues/906#issuecomment-1194750614 but it involves logging into a TikTok account, which (at least in my opinion) defeats the purpose of using an alternative frontend.

As I said before, I ended up generating X-Bogus and msToken tokens but even with those I'm still getting captcha issues. Maybe they are not va

[2022-08-04 15:18] EsmailELBoBDev2 opened #64 "add my site"
https://proxitok.esmailelbob.xyz/ and it's tor version http://proxitok.lqs5fjmajyp7rvp4qvyubwofzi6d4imua7vs237rkc4m5qogitqwrgyd.onion

[2022-08-04 17:14] NoPlagiarism commented on #64
I thought it be good to wait for fix. Cuz pablouser1 can't check works it or not
But at least, It worked for me before #60

[2022-08-05 22:23] PrivacyDevel opened #65 "Remove proxitok.privacydev.net"
I just wanted to let you know that I stopped hosting my ProxiTok instance for now. All requests to this instance will now automatically be redirected to their corresponding tiktok.com URLs, to make the transition as smooth as possible for all current users.

The primary reasons why I stopped hosting my ProxiTok instance are as follows:
1. ProxiTok's feeds have broken for a while now
2. I discovere

[2022-08-06 00:44] DEFCON001 opened #66 "Add an option to install Proxitok as a PWA"
There is currently no alternative client available for TikTok, which makes it difficult for mobile users to move away from the official app, if Proxitok had the option to be installed as a PWA it would be able to act similarly to a client and in turn act as a decent replacement for some users, expanding the over all options for privacy, and potentially making Proxitok a more viable option for some

[2022-08-06 12:00] NoPlagiarism commented on #66
[UntrackMe](https://framagit.org/tom79/nitterizeme/-/tree/develop) have support for redirecting TikTok urls to ProxiTok urls

[2022-08-09 10:00] #65 closed

[2022-08-09 10:14] pablouser1 commented on #64
Hi, thanks for hosting a public instance! It has now been added to the public instances list.

I checked if the other features (tag, music, video...) worked, which they do, so I'm including it.

[2022-08-09 10:14] #64 closed

[2022-08-11 13:42] racuna opened #67 "API error code -1"
When trying to open any @ profile:

[code]

Direct links to a post are working, tho

[2022-08-11 21:22] NoPlagiarism commented on #67
Duplicate of #60, as I can say

[2022-08-11 21:49] pablouser1 commented on #39
(indirectly) fixed thanks to 90a2d2ec289c3644802c6595fc242682e2abac52

Make sure to run the latest version of both ProxiTok and SignTok

[2022-08-11 21:49] #39 closed

[2022-08-11 22:09] pablouser1 commented on #60
This issue has been fixed :tada:

Thanks to @H1W0XXX we can now generate valid X-Bogus tokens.

This, indirectly, fixes #39 and breaks Discover.

For instance hosters: Make sure to use the latest version of ProxiTok and SignTok. For now, only SignTok supports X-Bogus, but eventally other signers will support it.

[2022-08-12 04:13] privacytime101 opened #68 "Update Dockerfile and add whatever.social instance"
Hi there, it seems as though the version that pushed Tikscraper to version 2.1.2.0 hasn't been pushed into the Dockerfile yet.

Additionally, I've begun hosting an instance at https://cringe.whatever.social if it helps. Thank you for this project.

[2022-08-12 09:08] pablouser1 commented on #68
Looks like there was an issue with PHP's pecl servers that made the builds fail, now they are working.

I've been trying to test it, but I'm getting a Bad Gateway error

[2022-08-12 14:14] privacytime101 commented on #68
That's weird, not sure what happened yet. It's back up, however the scraper version is still on 2.1.1.0 for some reason.

[2022-08-12 18:15] desbest commented on #60
If the issue is fixed, when will the official `proxitok.herokuapp.com` instance be updated to the latest version, to reflect the changes?

[2022-08-12 21:18] dhuschde opened #69 "new instance"
Since there aren't many public Instances rn, i decided to host one.
The Domain would be https://proxitok.dhusch.de
It's hosted in Germany and does not use Cloudflare.

Im using YunoHost to host it btw.

Could you please list this in the public list?

[2022-08-12 22:10] NoPlagiarism commented on #69
Please, check if you updated your instance
Your version is lower than actual

[2022-08-12 22:12] NoPlagiarism commented on #60
@desbest Instance updated
[Check url mentioned earlier](https://proxitok.herokuapp.com/@willsmith)

[2022-08-12 22:20] desbest commented on #60
Why does this profile not work?
[Check this URL for details.](https://proxitok.herokuapp.com/@avamax)

[2022-08-12 23:13] NoPlagiarism commented on #60
or is it?
Checked 5 minutes ago
![png](https://i.vgy.me/eeGWTt.png "Checked 5 mins ago")

[2022-08-13 11:38] pablouser1 commented on #69
Thanks for hosting a public instance @dhuschde! I'm adding it now, make sure to update it when it is available to you.

[2022-08-13 11:38] #69 closed

[2022-08-13 11:40] pablouser1 commented on #68
Thanks for hosting a public instance @privacytime101! I've added it to the list.

Are you using the manual deploy method? Make sure to run `composer update` after pulling the new version.

[2022-08-13 11:46] pablouser1 commented on #60
I'm currently not having issues on the official instance. I'll leave this issue opened for some time in case something happens.

[2022-08-13 16:10] privacytime101 commented on #68
Still the same. Pulled it again and rebuilt it, no update.

[2022-08-15 18:01] k2helix opened #70 "Add a 'count' parameter"
**Is your feature request related to a problem? Please describe.**
Hi, I've been using Proxitok for a while whenever I had to use Tiktok and I'm missing an option to select the number of posts to retrieve from a user, as the limit per page is currently 30.

**Describe the solution you'd like**
It would be nice to be able to specify the number of posts to get, for example with a count parameter in

[2022-08-15 22:34] NoPlagiarism commented on #70
It's in todo`s... Hah

[2022-08-15 23:25] k2helix commented on #70
Ohhh I did not see it! I'm really sorry!

[2022-08-15 23:25] #70 closed

[2022-08-16 18:03] PrivacyDevel opened #72 "[INSTANCES] "New" public instance proxitok.privacydev.net"
- URL: https://proxitok.privacydev.net
- Cloudflare: No
- Country: USA

Since ProxiTok is working again, I am now hosting it again as well. :)

[2022-08-16 18:57] NoPlagiarism commented on #72
Discover/Trending is not working
Maybe because version is lower
Despite, it's working

[2022-08-16 20:24] PrivacyDevel commented on #72
Thanks for letting me know! I updated everything and tested it. Should be working now. :)

[2022-08-17 12:05] x0rld commented on #72
I can't access to any profile
![image](https://user-images.githubusercontent.com/45242856/185114156-71fbaed9-0936-400a-8e48-3340c3694ad3.png)

[2022-08-17 12:10] NoPlagiarism commented on #72
@x0rld proxitok/tik tok problem
Official too
2.4 ProxiTok or 2.2 TikTok Signer problem

[2022-08-17 12:14] NoPlagiarism commented on #60
@pablouser1 Happened
Problem on ProxiTok 2.4.0.0 or Scraper 2.2.0.0
https://cringe.whatever.social is working

[2022-08-17 12:23] x0rld commented on #72
ok

[2022-08-17 12:52] pablouser1 commented on #72
That issue has been fixed thanks to pablouser1/TikScraperPHP@53024570fe8a0258d911e5a245fe582090739a19

The official instance has been updated so it should work now. Looks like TikTok is making changes again?

Also, @PrivacyDevel thanks for hosting it again! I've added it to the instance list, make sure to update to the latest version of the Scraper (2.2.1.0), it should work properly now.

[2022-08-17 12:57] pablouser1 commented on #60
https://github.com/pablouser1/ProxiTok/issues/72#issuecomment-1217969598

[2022-08-17 14:04] PrivacyDevel commented on #72
That's strange. Profiles seem to be working just fine for me. Could you maybe give me a link to a profile that's broken?

Thank you, @pablouser1! I'll update it now.

[2022-08-17 14:11] PrivacyDevel commented on #72
Uhm... I updated it and after that it stopped working for me... Rolled back to 67c080e5f49ad34baefa9399dbe1cf2d8ca49e78 for now, as that actually still works for me.

[2022-08-17 16:34] x0rld commented on #72
it works for me too thx ! 🎉

[2022-08-17 22:24] PrivacyDevel commented on #72
Never mind. I've replaced tiktok-signature with SignTok now and updated ProxiTok to the newest version. Everything seems to be working like this and it's much lighter on resources too. Nice. :)

[2022-08-17 22:26] jorgesumle opened #74 "It's only in English"
The interface should be available in other languages. I can add the Spanish and Esperanto translations once the website has some i18n support.

[2022-08-18 12:42] NoPlagiarism commented on #74
I can help with Russian
Also, what about Weblate or Crowdin? 🤔

[2022-08-18 12:44] NoPlagiarism commented on #72
@PrivacyDevel, so you can close issue now, if no problems anymore :D

[2022-08-18 12:48] NoPlagiarism commented on #68
@privacytime101 502 Error again

[2022-08-18 13:12] PrivacyDevel commented on #72
I was about to close it but... Now now profiles don't seem to be working anymore for some reason... :( I didn't change anything and even tried to use the official signer, just to make sure. Still broken... And yet there are other instances, like the official herokuapp one that still work... Any ideas how I could fix that? Or do I just have to wait it out again...?

[2022-08-18 14:45] NoPlagiarism commented on #72
How did you set up your instance?

[2022-08-18 14:49] privacytime101 commented on #68
@NoPlagiarism Yes, I need to reinstall it because it wasn't working in the first place.

[2022-08-18 15:02] privacytime101 commented on #68
It's back up, but the API error's still there.

[2022-08-18 15:48] NoPlagiarism commented on #72
I guess, It's signer problem. Because If start ProxiTok container with API_SIGNER_URL as `https://signtok.vercel.app/api/signature` It's working

[2022-08-18 18:42] PrivacyDevel commented on #72
I set it up manually. I've used `https://signtok.vercel.app/api/signature` as well as my own it doesn't really work with either of them. I just get the same error like the above. I don't see anything in the logs that would help me in any way. When I start a server with `php -S ADDRESS` and read the console output, I don't see anything either. And when I comment out API_SIGNER_URL completely, not e

[2022-08-18 19:00] NoPlagiarism commented on #72
It's kinda strange, that [video](https://proxitok.privacydev.net/@placeholder/video/ZMNP7QUhy) works
So it's double weird, and signer maybe not the problem

[2022-08-18 19:35] NoPlagiarism commented on #72
Also, can make theory that something wrong with cache engine

[2022-08-18 19:40] Odyssey346 opened #75 "[INSTANCES] New public instance "proxitok.odyssey346.dev""
- URL: https://proxitok.odyssey346.dev
- Cloudflare: No
- Country: Poland

[2022-08-18 19:43] NoPlagiarism commented on #75
User feed's not working
How did you set up this instance?

[2022-08-18 19:45] Odyssey346 commented on #75
I used TheFrenchGhosty's Docker image. Should I try the official one? Are there any differences?

[2022-08-18 19:46] Odyssey346 commented on #75
I also use Caddy for the web server.

[2022-08-18 19:55] NoPlagiarism commented on #75
You can try

[2022-08-18 20:07] Odyssey346 commented on #75
Switching to the official one worked. I told TheFrenchGhosty to update his image and he told me that GitHub stopped the CI automatically cause he didn't make a commit in 2 months.

[2022-08-18 20:10] PrivacyDevel commented on #72
Yeah, Idk... I removed the files inside of the cache folder before (not including the directories themselves) and that didn't make any difference either. And now I re-cloned it and executed the composer install again as well. Exact same situation. The video you linked me works as well but user pages do not.

I tried the curl command and got an HTML document with a lot of JS as a response. The HTTP

[2022-08-18 20:37] NoPlagiarism commented on #72
I tried Docker image with no env variable `API_CACHE`
It's not the same error, but `No items sent by TikTok!`
So it could be the problem

[2022-08-19 15:59] PrivacyDevel commented on #72
I tried it with and with `API_CACHE` unset, set to `json` (and it does create those JSON cache files, I checked) and set to `redis` with the other required host and port envs set accordingly. Still the exact same issue.

[2022-08-19 17:14] FillingTheVoidOnYT commented on #60
when using the mobile browser duckduckgo no user posts want to load

[2022-08-19 18:06] NoPlagiarism commented on #60
instance. Name the instance url

[2022-08-19 18:08] FillingTheVoidOnYT commented on #60
It’s the official instance

[2022-08-19 22:27] PrivacyDevel commented on #72
Aaaand now it just works.... Wtf?

[2022-08-21 20:26] PrivacyDevel commented on #72
Never mind. It's still broken most of the time... Sometimes it works for a short while and then it breaks again..
I even installed php8 and tried it with that to more closely match the Docker image but that did not make any difference either.

Currently I installed the following packages from the default Debian stable repos for ProxiTok:
composer
php-redis
php-curl
php-zip
php-fpm
php-dom

And all

[2022-08-21 20:46] NoPlagiarism commented on #72
Again my stupid thoughts, but I just place it here: https://github.com/oberd/php-8.1-apache/blob/main/README.md#pre-installed-php-extensions
You can watch through the list if helps

[2022-08-22 16:30] PrivacyDevel commented on #72
Ok, well, I finally bit the bullet and installed and tried to test it with Docker on my server with the exact same results from before...

The command that I used to test this with was the following:
`docker run -it --rm -p 5112:80 -e LATTE_CACHE=/tmp -e API_SIGNER_URL=https://signtok.vercel.app/api -e API_SIGNER=remote ghcr.io/pablouser1/proxitok:master`

[2022-08-22 17:04] PrivacyDevel commented on #72
Oh my.... Would you look at that. Apparently it IS an IP ban of sorts after all!
I just tried to change the user agent string before to check if that changes anything, which it didn't.
And now I just patched the few curl calls in the tikscraper library to use a proxy and voila! It works!

I guess I will see where this is actually necessary and create a pull request for that workaround to the tiksc

[2022-08-22 17:49] PrivacyDevel commented on #72
Ok, fixed it now. I just set a proxy for the curl calls in the Sender.php file from tikscraper. It does not seem to be necessary in the other places and would just needlessly slow things down there.
I also enabled Redis caching now, which should lower the number of requests that my server sends to TikTok by a lot as well and speed up user page loads.

I'm not sure if I actually should submit a pat

[2022-08-22 18:08] PrivacyDevel opened #76 "Video download without watermark is broken"
Whenever I try to download a video without the watermark, I get a 147 byte long JSON file instead.
The content looks like this:
`{"log_pb":{"impr_id":"2022082218045401024503224309316C9A"},"status_code":4,"status_msg":"Server is currently unavailable. Please try again later."}`

This happens on all instances as far as I can tell, including the official one.

[2022-08-23 14:13] NoPlagiarism commented on #76
LoL.
![image](https://user-images.githubusercontent.com/37241775/186178109-0273cfcb-01ea-4188-ad98-96df2bc3d9bd.png)
Same with tiktokcdn-us.com
Maybe it's TikTok's problem or TikTok's security update
Added those domains to UptimeRobot and waiting for changes

[2022-08-30 09:13] NoPlagiarism commented on #76
So... I guess, from now on
`tiktokcdn.com` and `tiktokcdn-us.com` just  not exists from now on.
Only `p16-sign.tiktokcdn-us.com` and etc

[2022-08-30 09:42] NoPlagiarism commented on #76
Problem in TikTokScraper and this url - https://api-h2.tiktokv.com/aweme/v1/play/
You can just open it to be sure

[2022-09-02 11:36] artemislena opened #77 "Redis connection times out"
**Describe the bug**
T.: We set up an instance at https://tok.artemislena.eu, using the SignTok n ProxiTok container images, n a local password-requiring Redis instance (which listens on the `cni-podman0` interface, i.e. `10.88.0.1`). Now, any search (n presumably any operation that requires Redis) returns an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Try out some test search. E.

[2022-09-02 11:40] artemislena commented on #77
Nvm. Forgota open the port in the firewall.

[2022-09-02 11:40] #77 closed

[2022-09-02 22:06] pablouser1 commented on #75
Hey @Odyssey346, thanks for hosting a public instance! I've added it to the list of public instances.

[2022-09-02 22:06] #75 closed

[2022-09-02 22:10] pablouser1 commented on #68
Hmmm... That's weird... Maybe you are having an issue similar to https://github.com/pablouser1/ProxiTok/issues/72#issuecomment-1222716385

Maybe your IP is already blacklisted by TikTok? @PrivacyDevel fixed it using a proxy to make the request.

[2022-09-02 22:11] pablouser1 commented on #72
Hi @PrivacyDevel, TikScraper has proxy support but ProxiTok doesn't have any enviromental variables to modify it. I'll add it on the next release.

[2022-09-02 22:12] pablouser1 commented on #74
@jorgesumle Thanks for the suggestion! I'm planning to add an i18n PHP library soon. I'll make the "default" english translations so everyone has a base to translate the project to any language.

[2022-09-02 22:18] #54 closed

[2022-09-02 22:18] #45 closed

[2022-09-03 00:43] PrivacyDevel commented on #72
That would be great! :) And if you could add a special one that only get used in Sender.php that would be perfect! This is the only place where I seemed to need it the other calls apparently still worked. And using a proxy in places where you don't need to just needlessly slows things down.

[2022-09-03 04:27] pabloscloud commented on #34
This is not fixed. It’s still not working in the iOS reeder app.

[2022-09-03 11:00] pablouser1 commented on #34
I think it is now fixed, now the whole url is shown instead of only the path.

@pabloscloud can you confirm it works now on your iOS app?

[2022-09-03 11:29] pablouser1 commented on #72
I've added Proxy support on 96fb2fd4285cb35ddc2b11438726d185621753fd

Please update both ProxiTok and TikScraper and check https://github.com/pablouser1/ProxiTok/wiki/Configuration#proxy for the env variables required

[2022-09-03 15:38] pabloscloud commented on #34
It doesn’t. I’m using Reeder on iOS and macOS and it doesn’t work in NetNewsWire either

[2022-09-03 15:51] pablouser1 commented on #34
I've forgot to add the APP_URL env variable to the official instance... now it shows the whole url

[2022-09-03 15:53] pabloscloud commented on #34
Yes, works now

[2022-09-03 15:53] #34 closed

[2022-09-03 19:26] MagicLike commented on #74
+1 for Weblate

[2022-09-03 19:28] KaKi87 commented on #65
Hello,

Is that feature request tracked ? Thanks

[2022-09-04 20:18] artemislena opened #78 "[INSTANCES] New public instance"
- URL: https://tok.artemislena.eu (Tor/Onion version at http://tok.lpoaj7z2zkajuhgnlltpeqh3zyq7wk2iyeggqaduhgxhyajtdt2j7wad.onion)
- Cloudflare: No
- Country: Germany

[2022-09-06 10:23] Dominion0815 opened #80 "[INSTANCES] New public instance tok.adminforge.de"
- URL: https://tok.adminforge.de/
- Cloudflare: No
- Country: Germany

[2022-09-07 20:31] #72 closed

[2022-09-09 17:49] pablouser1 commented on #78
Thanks for hosting a public instance @artemislena! It has been added to the pubic instances list.

[2022-09-09 17:49] #78 closed

[2022-09-09 20:37] pablouser1 commented on #80
Hey @Dominion0815, thanks for hosting a public instance! It has been added to the public instances list

[2022-09-09 20:37] #80 closed

[2022-09-09 20:40] pablouser1 commented on #60
It looks like it is now stable... I'll close this issue for now

[2022-09-09 20:40] #60 closed

[2022-09-09 22:55] cunlem opened #81 "Video comments"
It seems tiktok comments are now available without logging in so maybe we can have them in Proxitok?

**Is your feature request related to a problem? Please describe.**
Currently only the comment count is displayed

**Describe the solution you'd like**
Display comments on videos

[2022-09-13 17:51] ManaSiWibi opened #82 "[INSTANCES] New public instance"
- URL: https://proxitok.manasiwibi.com/ and http://vywqfflneajejuhg7o5iklqvzemu2fcdrb3gtkvnyqsho6qin5svdsad.onion
- Cloudflare: No
- Country: Singapore

[2022-09-15 19:17] EsmailELBoBDev2 commented on #64
Hi, @pablouser1 sorry to bother, can you update my onion link to
http://proxitok.esmail5pdn24shtvieloeedh7ehz3nrwcdivnfhfcedl7gf4kwddhkqd.onion/

[2022-09-15 19:32] pablouser1 commented on #64
Updated

[2022-09-15 19:34] pablouser1 commented on #82
Hi @ManaSiWibi, thanks for hosting a public instance! It has been added to the public instances list.

[2022-09-15 19:34] #82 closed

[2022-09-19 02:13] PrivacyDevel commented on #81
I've been checking out TikTok for a little and it seems to be rather easy to get the comments for a video.

Here's a [little example script](https://gist.github.com/PrivacyDevel/494abf1c06e041f804832c732e58bfda), written in Python, that takes a video id as it's first argument and prints 200 comments to that video to the console. I hope that helps. :)

[2022-10-02 23:18] #68 closed

[2022-10-02 23:19] privacytime101 opened #83 "[INSTANCES] Remove whatever.social"
I'm no longer maintaining this instance. Thanks!

[2022-10-04 07:00] pablouser1 commented on #83
Hi @privacytime101, thanks for hosting ProxiTok for this time, it is now removed from the public instances list.

[2022-10-04 07:00] #83 closed

[2022-10-05 14:30] k2helix opened #84 "Are bots ok?"
Hi. I discovered Proxitok a while ago and thought about making a bot that would scrape a proxitok instance and send someone's posts into Discord. It would just scrape it when a Discord user requests (via a command) to see a tiktok profile (which would not happen so much).

Is this ok or do you prefer not to let bots scrape proxitok instances? I'm asking because as you may know one of the causes of

[2022-10-06 10:27] pablouser1 commented on #84
Hi @k2helix,

Bots/automated requests are a growing problem in ProxiTok. I guess it's OK if you don't spam requests, but I would still _highly_ appreciate anyone trying to scrape ProxiTok not to. There are already libraries such as [TikTok-Api](https://github.com/davidteather/TikTok-Api) for Python or [tiktok-scraper](https://github.com/drawrowfly/tiktok-scraper) for JS/TS, to name a few, that do

[2022-10-21 12:19] alectprasad opened #85 "always returns API error code -1 (UNKNOWN_ERROR)"
web version (https://proxitok.herokuapp.com/) always returns API error code -1 (UNKNOWN_ERROR) with any url

[2022-10-21 12:19] j1cs commented on #53
I solved creating a network so that both services could see each other.

[2022-10-21 14:59] NoPlagiarism commented on #85
You are using old verison
Use [proxitok.pabloferreiro.es](https://proxitok.pabloferreiro.es/)

[2022-10-21 15:08] NoPlagiarism commented on #85
@pablouser1 should you make a disclamer or redirector?

[2022-10-21 16:42] pablouser1 commented on #85
I thought that instance wasn't used anymore, but I just checked the logs and I'm still getting many requests there. I'll redirect all requests to a disclaimer with the new instance, hopefully that fixes the issue.

[2022-10-22 19:00] unchartedpopsicle opened #86 "Download with watermark missing video ID from name"
**Edited as latest version downloads a functional video.**

On an instance running frontend 2.4.2.0 and scraper 2.2.1.1 (for example proxitok.privacydev.net) it works fine, but on the latest version it downloads a ~broken 61 byte~ video file named "tiktok-video--[username].mp4", rather than "tiktok-video-[video ID]-[username].mp4",This seems consistent on all instances and videos.

**To Reproduce*

[2022-10-23 12:51] NoPlagiarism commented on #86
Duplicate of #76

[2022-10-23 13:59] NoPlagiarism commented on #86
But, yeah
TTDown don't works now too

[2022-10-23 14:11] NoPlagiarism commented on #76
I've found new solution (without external) by @Sharqo78
But as he said, it's looking like hell
https://github.com/Sharqo78/VTik/blob/main/src/extractors/extractors.v

[2022-10-23 14:38] NoPlagiarism commented on #76
# For anyone who can fix it on PHP in [TikScraperPHP](https://github.com/pablouser1/TikScraperPHP):
User-Agent to use: `Mozilla/5.0 (X11; Linux x86_64; rv:105.0) Gecko/20100101 Firefox/105.0`
URL to get data from: `https://api-h2.tiktokv.com/aweme/v1/feed/?aweme_id={str_id}&version_name=26.1.3&version_code=2613&build_number=26.1.3&manifest_version_code=2613&update_version_code=2613&openudid={openu

[2022-10-23 16:12] unchartedpopsicle commented on #86
You sure? This is the other download option, and only on the latest version.

[2022-10-23 17:05] NoPlagiarism commented on #86
Yep, sorry, was wrong

[2022-10-23 19:24] pablouser1 commented on #76
Thanks for the info, both @NoPlagiarism and @Sharqo78!

I've got it working properly with TikScraper, I'm bumping the scraper now.

[2022-10-23 19:31] #85 closed

[2022-10-23 19:46] Raistlingru opened #87 "[INSTANCES] New public instance"
- URL: https://tik.hostux.net
- Cloudflare: No
- Country: FR

[2022-10-23 20:33] pablouser1 commented on #87
Hi @Raistlingru, thanks for hosting a public instance!
It has now been added to the public instances list.

[2022-10-23 20:33] #87 closed

[2022-10-23 22:39] pcroland opened #88 "Keep original og:meta properties, so ProxiTok has a nice preview like the original."
This would make it possible to remove the original message from Telegram/Discord and having a preview too:
![img](https://telegra.ph//file/4a3f12acec4ff5e6cafbc.png)

[2022-10-24 13:31] NoPlagiarism commented on #76
@PrivacyDevel Close for now?

[2022-10-24 18:58] pablouser1 commented on #86
Hi @unchartedpopsicle, thanks for pointing out the issue. It has now been fixed with 23583ef7abfc7c4ade29891f3a6ef073b58e3cdb

The old implementation extracted the ID from the URL passed, which was assumed to use the "https://www.tiktok.com/@USERNAME/video/VIDEO_ID" structure, which was not always true. That's why sometimes the ID was empty.

[2022-10-25 04:17] PrivacyDevel commented on #76
@NoPlagiarism I mean sure. Is it in ProxiTok yet after we upgrade?

[2022-10-25 08:54] Sharqo78 commented on #76
Well you're welcome guys but the URL isn't from me, I took it from the douyin.wtf project

[2022-10-28 14:53] #86 closed

[2022-10-29 09:33] gi-yt opened #89 "[INSTANCES] New public instance: tt.vern.cc"
- URL: https://tt.vern.cc
- Cloudflare: No
- Country: Canada
- I2P:  http://vern2gwxbtxzhb3rgchv4kbhlqppijhjqg7rmgvp4c5bxihxcm3a.b32.i2p
- Tor: http://tt.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion

[2022-10-29 11:10] NoPlagiarism commented on #89
### Isn't this [i2p](http://vernz3ubrntql4wrgyrssd6u3qzi36zrhz2agbo6vibzbs5olk2q.b32.i2p/) an libremdb?
![IMDB screenshot (http://vernz3ubrntql4wrgyrssd6u3qzi36zrhz2agbo6vibzbs5olk2q.b32.i2p/ url)](https://user-images.githubusercontent.com/37241775/198827839-9945c930-04a8-48ec-938f-0d78f427bc3a.png)

### Also [onion](http://ld.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion/) too
![

[2022-10-29 11:15] gi-yt commented on #89
sorry for that, pasted wrong link
tt.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion
vern2gwxbtxzhb3rgchv4kbhlqppijhjqg7rmgvp4c5bxihxcm3a.b32.i2p
these are the right links @NoPlagiarism

[2022-10-29 11:28] NoPlagiarism commented on #89
Edit original issue, pls

[2022-10-29 18:38] chrisnovakovic opened #90 ""TikTok URL" input type no longer works"
**Describe the bug**
Since 7aa869f567f9734038b0c52bfa428ae81586935f, the redirect controller doesn't correctly redirect when the input is a TikTok URL. This is because the input term is unconditionally URL-encoded before `to_endpoint()` pattern-matches it - the various unsafe characters it attempts to match have already been sanitised, so ProxiTok treats it as an invalid URL.

**To Reproduce**
1.

[2022-11-02 18:07] NoPlagiarism commented on #89
[code]

To add in [Wiki instances](https://github.com/pablouser1/ProxiTok/wiki/Public-instances)

[2022-11-03 09:03] pablouser1 commented on #89
Hi @gi-yt, thanks for hosting a public instance! It has been added to the public instances list.

[2022-11-03 09:03] #89 closed

[2022-11-03 09:08] #90 closed

[2022-11-08 17:45] NyeUsr opened #92 "[INSTANCES] New public instance"
Not my instance. Just an instance I found which is available to the public.

- URL: https://proxitok.mha.fi
- Cloudflare: Yes (https://bgp.he.net/dns/mha.fi)
- Country: France (https://bgp.he.net/ip/51.158.61.247#_whois)

[2022-11-08 19:47] NoPlagiarism commented on #92
Can't watch any video. Browser trying to access video and sth (mb CloudFlare?) blocking it

![CloudFlare in 302 Response Headers](https://user-images.githubusercontent.com/37241775/200660572-ac58d0a8-f752-41b3-ac8c-a777afe3e8c1.png)

[2022-11-08 20:02] NyeUsr commented on #92
My bad for not checking more into that. I thought it was just my phone as a friend said he'd had luck with it. I've contacted the website owner in regards to the issue.

[2022-11-08 20:21] MilkaPeeka opened #93 "Show date when viewing from a link"
**Is your feature request related to a problem? Please describe.**
No, I don't have any problem using ProxiTok, and it is not a mandatory feature at all, but since it exists on other pages (For example: When you view a user video from his profile), the date exists.

**Describe the solution you'd like**
There's no visible upload date when you open ProxiTok from a link, but there is one when I view

[2022-11-09 09:18] NoPlagiarism commented on #92
Now it just going like
[code]

[2022-11-09 13:33] vdemay opened #94 "Changes on tiktok side breaks user posts retreival (new signature?)"
Get user videos does not work anymore probably due to a change on tiktok tt-parameter generation

How to reproduce:
 1/ go to https://proxitok.pabloferreiro.es/@willsmith -> working because content has been captured while getting user info
 2/ go to the bottom of the page and click Next -> Error

 Actually I suppose the end point `user/item_list` needs a new signing method or new parameters to wor

[2022-11-09 15:55] vdemay commented on #94
Same ticket open here : https://github.com/carcabot/tiktok-signature/issues/168

[2022-11-11 21:37] dhuschde opened #95 "[INSTANCES] please remove instance"
- URL: https://proxitok.dhusch.de

I currently have problems with proxitok on dhusch.de. it kind of is unusable at the moment.

So please remove it from the official list.

[2022-11-13 06:57] salman731 opened #96 "error on click next button for user videos"
**About this instance**

Frontend version: 2.4.3.0

Scraper version: 2.3.2.1

When I search user and click next button for next videos error occur...

![proxitok](https://user-images.githubusercontent.com/25194088/201509814-c451ea7c-7633-478f-bf2e-33e3e4b9e3d8.PNG)

[2022-11-13 09:30] NoPlagiarism commented on #96
Duplicate of #94

[2022-11-14 07:18] salman731 opened #97 "add other option for deployment like heroku"
Please add deployment option for following hosting services

[cyclic](https://www.cyclic.sh/)
[netlify](https://netlify.com/)
[railway](https://railway.app/)
[render](https://render.com/)

[2022-11-17 05:19] delendum opened #98 "[INSTANCES] New public instance"
- URL: https://proxitok.pufe.org/
- Cloudflare: No
- Country: New Zealand

[2022-11-17 08:44] NoPlagiarism commented on #92
Video is watchable now

[2022-11-18 15:32] pablouser1 commented on #95
Thanks for hosting the instance for this time! It has been removed.

[2022-11-18 15:32] #95 closed

[2022-11-18 15:34] pablouser1 commented on #92
@NyeUsr Thanks for hosting a public instance! It has been added to the list.

[2022-11-18 15:34] #92 closed

[2022-11-18 15:35] #96 closed

[2022-11-18 15:50] pablouser1 commented on #93
I really don't know I didn't implement it in the first place, but now it is. Thanks for pointing it out!

[2022-11-18 15:50] #93 closed

[2022-11-18 15:50] #84 closed

[2022-11-18 15:51] #76 closed

[2022-11-20 08:03] shruuub opened #99 "[INSTANCES] Add onion version of tok.habedieeh.re"
- URL: http://tok.habeehrhadazsw3izbrbilqajalfyqqln54mrja3iwpqxgcuxnus7eid.onion/
- Cloudflare: No
- Country: CA

yeah, I think I forgot it in the original issue, but here's the hidden service of tok.habedieeh.re. Really like how the project's going, keep it up :)!

[2022-11-21 09:05] pablouser1 commented on #99
Added, thanks!

[2022-11-21 09:05] #99 closed

[2022-11-21 21:42] MintMain21 opened #100 "Pictures?"
**Is your feature request related to a problem? Please describe.**
Apparently Tik Tok can be used to share static images (pictures) instead of just video, but it's exclusive to the app, so not only do you get an error message in ProxiTok, you get a "use the app" prompt in actual Tik Tok.

**Describe the solution you'd like**
If we cannot get picture support, then at the very least it would be nice

[2022-11-21 22:05] NoPlagiarism commented on #100
@MintMain21 Can you send an example link, pls?

[2022-11-21 22:11] MintMain21 commented on #100
https://www.tiktok.com/t/ZTRQs6X6s/

[2022-11-22 15:56] TrashAccount3424 opened #101 "Download links sometimes loads entiely different videos"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://proxitok.pabloferreiro.es/@_haylieonthedaily2.0
2. Scroll to the last video (ID 6975678712687627525) on the page (it does not happen on all)
2. Download the video with both links
4. It download 2 different videos not 2 different versions of the same video

**Expected behavior**
Same video different versions.

[2022-11-22 16:15] TrashAccount3424 opened #102 "Show larger profile image on a user profile page"
**Is your feature request related to a problem? Please describe.**

Show larger profile image on a user profile page.
For example on https://proxitok.pabloferreiro.es/@tiktok the top image is just 100x100 pixels.
Tiktok does seem to provide larger images.

`https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/1971e99be0d67160f34f39fb1d66a0e5~c5_720x720.jpeg?x-expires=16693.....`
See file name > 7

[2022-11-22 16:45] NoPlagiarism commented on #101
I don't think it's 100% ProxiTok problem
Can you access this video from ProxiTok. And TikTok?
I can't.
![Video currently unavailable](https://user-images.githubusercontent.com/37241775/203372061-dfd3f2dd-1307-4532-806f-f1146fd9501c.png)

[2022-11-22 16:54] TrashAccount3424 commented on #101
@NoPlagiarism If it fails to load the video it still would not make sense to load a different video right? And it seem like one of the 2 videos is the correct one.

On tiktok com with firefox I can watch the video when I go via the user profile page. The direct links somehow seem to be broken.

[2022-11-22 17:07] NoPlagiarism commented on #101
TikTok, one time, you will blow my mind.

I don't think it closes issue (because it's still strange), but use TTDown (you can select default downloader in settings)

[2022-11-22 21:43] pablouser1 commented on #100
So, investigating a little bit about it, turns out TikTok returns a 404 error even though it _technically_ exists. That's why it just showed a "Not found" error.

I've patch it with pablouser1/TikScraperPHP@2b5f7f4aa436ec7a9727ec35396becee211135da, now it shows an IMAGE_NOT_SUPPORTED error, which I guess is more informative than before.

I haven't investigated about implementing pictures in Proxit

[2022-11-23 00:15] marcoapisco opened #103 "[INSTANCES] New public instance"
- URL: https://proxitok.marcopisco.com
- Cloudflare: Yes
- Country: Portugal

[2022-11-23 07:54] pablouser1 commented on #103
Hi @marcoapisco, thanks for hosting a public instance! It has been added to the list

PD: You are running an old version of ProxiTok, make sure to update whenever you can!

[2022-11-23 07:54] #103 closed

[2022-11-23 08:43] vdemay commented on #94
Hello,

Thanks for the update. But unfortunately, it still does not work.

I suppose the first page for willsmith account is now in cache so it display well. But if you try with another account it does not work.

Tiktok puts probably a short expiration time on one of the parameter of the requests leading the fix of @carcabot to work only for a short period of time - see https://github.com/carcabot

[2022-11-23 08:59] pablouser1 commented on #94
Thanks for the heads up, I'll check it out and implement it when I have time.

[2022-11-24 10:45] Lignite4 opened #104 "Can't download videos on iOS"
**Describe the bug**
A clear and concise description of what the bug is.

In the new version, to download videos, you need to hover over the download button to see the download options.

iOS browsers do not support this feature.

To fix this, change it, so instead of hovering the mouse over the download button, you need to press the download button to display the download options. Like in old vers

[2022-11-26 16:22] gi-yt commented on #89
@pablouser1 can you move the instance country from Canada to US since we moved the VPS..
Thanks

[2022-11-26 18:15] pablouser1 commented on #89
Moved!

[2022-11-26 21:26] pablouser1 commented on #102
Hi! Thanks to ce5c9e016bd10807969f4602dc45bca58892acbe the user's page now show the avatarLarger attribute instead, now it looks way sharper, thanks for the recommendation!

[2022-11-26 23:03] pablouser1 commented on #88
Hi! Thanks to 215f984fe4f5dd3736fd882f96c851eac5317cf3 now ProxiTok mirrors the `og:...` and the `twitter:...`  meta tags.
Here's an example on Discord:

![Preview](https://user-images.githubusercontent.com/17802865/204111910-b47a95a8-6b3c-4ea1-9929-4c554e21c80d.png)

[2022-11-28 05:34] salman731 opened #105 "user video next button is not showing."
When I searched user then at end of page next button is not showing. Please fix it.

[2022-11-28 06:06] NoPlagiarism commented on #105
It's kinda a duplicate of #94

You can't see next button, because ProxiTok can't get next page

[2022-11-28 07:08] salman731 commented on #105
It was working some days ago but now it is not working...

[2022-11-28 09:47] szero opened #106 "Support resolving links from tiktok's own shortener"
This example link (SFW) https://vm.tiktok.com/ZMFHvt5aj/ resolves to https://www.tiktok.com/@juicetheorangecat/video/7158497794536377605?_t=8XanSJmXNVG&_r=1, but using `ZMFHvt5aj` part with ProxiTok instances doesn't resolve the link, would be cool if that would be supported.

[2022-11-28 11:54] NoPlagiarism commented on #105
What was working exactly? "Next" button or next page?

Next page - #94

Next button is not showing, because it can't see next page

[2022-11-28 14:47] szero commented on #106
ahh, gotcha, you have to add `/t` route to the link, thanks

[2022-11-28 14:48] #106 closed

[2022-11-30 10:03] NoPlagiarism commented on #105
@salman731 are u going to close issue or you have other questions?

[2022-11-30 10:38] #105 closed